<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Edit</title>
</head>
<body class="p-3 mb-2 bg-danger text-white">
    <div class="container">
    <h1 class="">Update Product</h1>
    <div style="width: 60%;">
        <form action="/update" method="post">
            <input type="hidden" name="txtId" value="{{product._id}}">
            <div class="mb-3">
                <label class="form-label" for="txtName"> Product Name</label>
                <input type="text" class="form-control" name="txtName" id="txtName" value="{{product.name}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtPrice"> Price</label>
                <input type="text" class="form-control" name="txtPrice" id="txtPrice" value="{{product.price}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtURL"> Picture</label>
                <input type="text" class="form-control" name="txtURL" value="{{product.url}}">
            </div>
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
      <hr>
    <div>
        <table class="table table-dark table-striped">
            <tr>
                <th style="width:40%">id</th>
                <th style="width:50%">Name</th>
                <th style="width:40%">Price</th>
                <th style="width:70%">Picture</th>
            </tr>
            <tr>
                <td>{{product._id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td><img src="{{product.picURL}}" width="300" height="200" </td>
            </tr>
        </table>
    </div>
    </div>
</body>

</html>